/* 问号图标 */
.icon_detail-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: -4px;
  background: url(../image/svg-icon/icon__detail-image.svg) no-repeat center;
  background-size: 100% 100%;
}
/* 三角符号图标 */
.icon_detail-arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: -4px;
  background: url(../image/logo.png) no-repeat center;
  background-size: 100% 100%;
}
